In [3]:
import re
text = 'Python Exercises, PHP exercises.'
print(re.sub("[ ,.]", ":", text))

Python:Exercises::PHP:exercises:

In [54]:
import pandas as pd

In [55]:
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [56]:
df = pd.DataFrame(data)

In [57]:
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]','', regex=True)

In [47]:
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

In [21]:
import re
text = 'The smart black dog jumps over the fire.'
print(re.findall(r"\b\w{4,}\b", text))

['smart', 'black', 'jumps', 'over', 'fire']

In [22]:
import re
text = 'The smart black dog jumps over the fire.'
print(re.findall(r"\b\w{3,5}\b", text))

['The', 'smart', 'black', 'dog', 'jumps', 'over', 'the', 'fire']

In [35]:
import re
Text = "(example (.com) hr@fliprobo(.com) github(.com) Hello (Data Science World) Data (Scientist))"
a2 = re.sub(r'[()]', '', Text)
print(a2)

example .com hr@fliprobo.com github.com Hello Data Science World Data Scientist

In [60]:
import re
items = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for item in items:
    print(re.sub(r" ?\([^)]+\)", "", item))

example
hr@fliprobo
github
Hello
Data

In [1]:
import re
Text = "ImportanceOfRegularExpressionsInPython"
print(re.findall('[A-Z][^A-Z]*', Text))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [10]:
import re
def insert_spaces(text):
    # Use regular expression to find words starting with numbers
    pattern = r'(\d+)([A-Za-z]+)'
    result = re.sub(pattern, r'\1 \2', text)
    return result

text ="RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(text)
print(output)

RegularExpression1 IsAn2 ImportantTopic3 InPython

In [12]:
import re

def insert_spaces(text):
    #Use regular expression to find words starting with capital letters or numbers
    pattern = r'([A-Z][a-z0-9]+|\d+)'
    #Replace the matched words with a space follewd by the word
    result = re.sub(pattern, r' \1', text)
    #Remove any leading or trailing spaces
    Result = result.strip()
    return result
    
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
print(output)

 Regular Expression1 Is An2 Important Topic3 In Python

In [1]:
import pandas as pd

In [2]:
url = "https://github.com/dsrscientist/DSData/raw/master/happiness_score_dataset.csv"

In [3]:
df = pd.read_csv(url)

In [6]:
df['first_five_letters'] = df['Country'].apply(lambda x:x[:6])

In [7]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [10]:
import re
def text_match(text):
        patterns = '^[a-zA-Z0-9_]*$'
        if re.search(patterns, text):
                return 'Found a match!'
        else:
                return('Not matched!')
print(text_match("The smart black dog jumps over the fire."))
print(text_match("Python_Exercises_1"))

Not matched!
Found a match!

In [12]:
import re
def match_num(string):
    text = re.compile(r"^3")
    if text.match(string):
        return True
    else:
        return False
print(match_num('3-4287546'))
print(match_num('9-3274612'))

True
False

In [13]:
import re
ip = "521.07.046.325"
string = re.sub('\.[0]*', '.', ip)
print(string)

521.7.46.325

In [14]:
import re

text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern = r"\b([A-Z][a-z]+) \d{1,2}(?:st|nd|rd|th)? \d{4}\b"

matches = re.findall(pattern, text)
print(matches)

['August']

In [1]:
import re
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern, text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [10]:
import re
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
     (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [11]:
import re
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [12]:
import re
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [14]:
import re
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

In [1]:
import re
def find_decimal_numbers(string):
  pattern = re.compile(r'\d+\.\d{1,2}')
  decimal_numbers = re.findall(pattern, string)
  return decimal_numbers
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
output = find_decimal_numbers(sample_text)
print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [2]:
import re
# Input.
text = "Section A has 50 student.And 14 are participating among them."

for m in re.finditer("\d+", text):
    print(m.group(0))
    print("Index position:", m.start())

50
Index position: 14
14
Index position: 29

In [3]:
import re

input_string = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numeric_values = re.findall(r'\d+', input_string)
numeric_values = [int(value) for value in numeric_values]

max_value = max(numeric_values)

print(max_value)

950

In [4]:
import re
def insert_spaces(text):
  # Use regular expression to find words starting with capital letters
  pattern = r'([A-Z][a-z]+)'
  # Replace the found words with the same word followed by a space
  result = re.sub(pattern, r' \1', text)
  # Remove any leading or trailing spaces
  result = result.strip()
  return result
sample_text = "RegularExpressionIsAnImportantTopicInPython"
output = insert_spaces(sample_text)
print(output)

Regular Expression Is An Important Topic In Python

In [1]:
import re

pattern = r'[A-Z][a-z]+'
text = "Shreya Ghosal is a Good Singer"

matches = re.findall(pattern, text)
print(matches)

['Shreya', 'Ghosal', 'Good', 'Singer']

In [2]:
import re

def remove_duplicates(sentence):
  pattern = r'\b(\w+)(\s+\1\b)+'
  result = re.sub(pattern, r'\1', sentence)
  return result

#Example usage
sentence = "Dogs can can swim"
output = remove_duplicates(sentence)
print(output)

Dogs can swim

In [3]:
import re
text1 = '**//Python Project// - 12.'
pattern = re.compile('[\W_]+')
print(pattern.sub('', text1))

PythonProject12

In [5]:
import re

def extract_hashtags(text):
  hastags = re.findall(r'#\w+', text)
  return hastags

# Sample text
text = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'

# Extract hashtags
hashtags = extract_hashtags(text)

# Print the extracted hashtags
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [6]:
import re

input_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

pattern = r"<U\+\w{4}>"
output_text = re.sub(pattern, "", input_text)

print(output_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [1]:
import re

# Open the text file
with open('untitled.txt', 'r') as file:
  text = file.read()

# Define the regular expression pattern for dates
pattern = r'\d{2}-\d{2}-\d{4}'

# Find all matches of the pattern in the text
dates = re.findall(pattern, text)

# Print the extracted dates:
for date in dates:
  print(date)

12-09-1992
15-12-1999

In [2]:
import re

def remove_words(string):
  pattern = re.compile(r'\b\w{2,4}\b')
  modified_string = re.sub(pattern, '', string)
  return modified_string

In [3]:
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
expected_output = "following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly."

result = remove_words(sample_text)
print(result == expected_output) # True

False